.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row > button {
  margin-left: 4px;
  margin-right: 8px;
}
.row:not(:last-child) {
  margin-bottom: 16px;
}

.value {
  font-size: 78px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 2px;
  font-family: 'Courier New', Courier, monospace;
}

.button {
  background-color: darkgray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.textbox {
  font-size: 32px;
  padding: 2px;
  width: 64px;
  text-align: center;
  margin-right: 4px;
}

.button:hover,
.button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}

.asyncButton {
  composes: button;
  position: relative;
}

.asyncButton:after {
  content: '';
  background-color: rgba(112, 76, 182, 0.15);
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: width 1s linear, opacity 0.5s ease 1s;
}

.asyncButton:active:after {
  opacity: 1;
  transition: 0s;
}

/* starting here */
.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 950px;
}
.wrapper > div {
  flex: 1 1 420px;
  width: auto;
  height: auto;
  border: 1px solid lightgray;
  color: black;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 6px;
  min-height: 300px;
}

.meeting_main {
  border: 1px solid lightgray;
}

.meeting_wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 950px;
}

.meeting_wrapper > div {
  flex: 1 1 320px;
  width: auto;
  border-top: 1px solid lightgray;
  color: black;
  text-align: left;
  padding: 5px 5px 5px 10px;
}

.meeting_wrapper > div > .field_name {
  font-weight: bold;
  font-size: 1.2em;
}

.meeting_wrapper > div > .field_value {
  font-size: 1em;
}

.calendar_ranger_wrapper {
  border: 1px solid lightgray;
  padding: 10px;
}

.calendar_ranger_wrapper > .calendar_ranger {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 950px;
}

.calendar_ranger_wrapper > .calendar_ranger > div {
  flex: 1 1 320px;
  width: auto;
}

.calendar_ranger_wrapper > button {
  padding: 10px;
  cursor: pointer;
}

.calendar_ranger_wrapper > .calendar_ranger > div > label {
  font-weight: bold;
  font-size: 1em;
  margin-right: 1em;
}

.calendar_ranger_wrapper > .calendar_ranger > div > select {
  width: 130px;
  text-align: center;
}

.meeting_back, .meeting_cancel {
  text-decoration: underline;
  cursor: pointer;
}

